body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

label {
    display: block;
    margin-bottom: 20px;
}

input, button {
    padding: 8px;
    margin-bottom: 16px;
}

button {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#players {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

h2 {
    color: #333;
    margin-bottom: 15px;
}

p {
    margin: 15px ;
}
